# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
dist/
build/

# Environment
.env
venv/
env/

# Data
data/vector_db/*.bin
data/vector_db/*.pkl
outputs/logs/*.log

# Notebooks
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
